<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.iayna"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>iAyna</name>

    <description>
        a smart phone directory
    </description>

    <author href="http://www.iayna.com" >
        iAyna 
    </author>
<preference name="orientation" value="portrait" />
<feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="2.0.0" />
	<!-- Icons -->

<icon src="images/icon.png" />
<icon src="images/icons/android/ldpi.png" width="57" height="57" />
<icon src="images/icons/android/mdpi.png" gap:platform="ios" width="72" height="72" />
<icon src="images/icons/android/hdpi.png" width="114" height="114" />
<icon src="images/icons/android/xhdpi.png" gap:platform="android"  /> 
<icon src="images/icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
<icon src="images/icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
<icon src="images/icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" /> 
<icon src="images/icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
<icon src="images/icons/android/mdpi.png" gap:platform="blackberry" />
<icon src="images/icons/android/mdpi.png" gap:platform="blackberry" gap:state="hover"/>
<icon src="images/icons/android/mdpi.png" gap:platform="winphone" />
<!-- winphone requires a jpg for the tile icons -->
<icon src="images/icons/winphone/tileicon.jpg" gap:platform="winphone" gap:role="background" />
<icon src="images/icons/webos/icon.png" gap:platform="webos" />
<icon src="images/icons/webos/miniicon.png" gap:platform="webos" gap:role="mini" />

<!-- Splash Screens -->
<gap:splash src="images/splash.png" />
<gap:splash src="images/splash/ios/Default-Landscape.png" width="1024" height="768" />
<gap:splash src="images/splash/android/hdpi.png" width="768" height="1024" />
<gap:splash src="images/splash/android/ldpi.png" width="320" height="480" />
<gap:splash src="images/splash/android/mdpi.png" width="640" height="960" />
<gap:splash src="images/splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
<gap:splash src="images/splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
<gap:splash src="images/splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" /> 
<gap:splash src="images/splash/android/mdpi.png" gap:platform="blackberry" />
<gap:splash src="images/splash/winphone/splash.jpg" gap:platform="winphone" />


</widget>